.shop-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.product-container{
width: 70%;
margin-left: 20px;
margin-right: 5px;
border-right: 1px solid #ddd;
}
.card-container{
    width: 25%;
    text-align: center;
}