#header_menu {
    a {
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        margin: 0 10px;
        color: #02023b;
        text-transform: uppercase;
    }
    .menu {
        color: #fff;
    }
}
