footer {
    background: url('../../../images/footerBg.jpeg') no-repeat ;
    background-size: cover;
}

.social-area a {
    padding: 10px;
    margin: 5px;
    transition: .6s;
    border: 1px solid #099691;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    color: #109793;
}
.social-area a:hover {
    background: #1cc6c1;
    color: #fff;
}