.amount{
    text-align: left;
}
.amount p  {
    display: flex;
    justify-content: space-between;
    font-weight:500
}
.amount p small {
    display: flex;
    justify-content: space-between;
    font-weight:500
}

.cart-btn {
    width: 100%;
    color:#fff ;
    font-size: 20px;
    height: 35px
}

.total-price span {
    font-weight: 900;
    color: darkgoldenrod;
    font-size: 20px;
}