
.footer_area{
    background: url('../../../images/Mask\ Group\ 2.png');
    background-color: transparent;
    padding:50px;

    .comunicat_link ul {
        margin: 20px 0;
        padding: 0;
        a {
            border: 1px solid #07e704;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            color: #07e704;
            margin: 10px;
            transition: .5s;
            &:hover {
                color: #fff;
                background: #07e704;
            }
        }
    }
    
}