.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.login_btn_area img {
    width: 40px;
}


.login_btn_area {
    display: flex;
    width: 300px;
    background: #fff;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 20px;
}

.Login_area {
    height: 85vh;
}
.loginBox .reg_form_area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    
}