
.container{
    background-color: lightblue;

}
div{
    height: 100px;
    width: 100px;
    background-color: lightcyan;
}
#first{
    background-color: forestgreen;
}
#second{
    background-color: rgb(167, 230, 85);
    position: fixed;
    left: 100px;
    
}
#third{
    background-color: fuchsia;
}