.MuiButton-contained.color_bg {
    background: #ffbb00;
    color: #fff;
    font-weight: 800;
    width: 100%;
}
.formElement {
    width: 400px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
}
.formElement .MuiTextField-root {
    width: 97%;
    margin: 8px;
}
.otherAuth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.otherAuth button img {
    width: 36px;
    margin: 0 11px
}

.otherAuth button {
    width: 300px;
}

p.or {
    position: relative;
}

p.or::after {
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #ddd;
    left: -175px;
    top: 50%;
}
p.or::before {
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #ddd;
    right: -175px;
    top: 50%;
}
.color_bg {
    background: #d9ad15;
    color: #fff;
    border-radius: 5px;
}
.formElement .MuiTypography-paragraph {
    margin-top: 20px;
    display: block;
}