.shiping_info {
    input , textarea {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #cbcbcb;
    color: #485102;
    font-size: 20px;
    border-radius: 5px;

}

textarea{
    height: 200px;
}
.btn-bg {
    background: red;
    color: #fff;
}
}