.conatct_area {
    background: url("../../../images/Mask\ Group\ 4.png") no-repeat;
    position: relative;
    z-index: 1;
    padding-bottom: 56px;
    &::after {
        position: absolute;
        content: "";
        background: rgb(0, 0, 51);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .section_heading .main_heading{
        color: #fff
    }
}
