.make-appointment{
    background-image: url('../../../images/appoinmetBg.png');
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.make-appointment::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#3A4256;
    z-index: -1;
    opacity: .9;
}

.make-appointment img {
    height: 550px;
    transform: translateY(-130px);
}