.singleEvent img {
    width: 260px;
    height: 200px;
}

.singleEvent .card {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
}

.singleEvent .card-body {
    position: relative;
    height: 100%;
}

.singleEvent .card-body .event-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}