.section_heading {
    text-align: center;
    padding: 50px 0;
    .main_heading {
        font-weight: 500;
        font-family: "Roboto";
        padding: 20px 0;
        color: #000143;
    }
}
.heading_top {
    font-weight: 800;
    color: #00a7ff;
    text-transform: uppercase;
    padding: 10px;
}
