.search-bg {
    background: #20b6da;
    padding: 5px 0;
}
.search-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.search-area {
    width: 90%;
}

.header-cart {
    width: 10%;
    font-size: 30px;
    font-family: cursive;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    max-width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: inset 0 0 5px #58b7da;
    background: #fff;
    padding: 5px 9px;
    color: #000;
}