
.reg_form_area {
    border: 1px solid #000;
    padding: 50px;
}

.reg_form_area form input, .reg_form_area form textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.reg_form_area .form-control:focus{
    box-shadow: none;
}

.registation_logo img {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}