header {
    background-image: url('../../images/457484_ImageGalleryLightboxLarge.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.banner {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}


header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.527);
    z-index: -1;
}
nav {
    display: flex;
    justify-content: start;
}

ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
}
.logo h2 a {
    text-shadow: 2px 2px #06b9d5;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-family: monospace;
}
.menuArea {
    width: 70%;
}
ul.menu li a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
}

ul.menu li {
    list-style: none;
}