
.slideInfo {
    color: #fff;
    h2 {
        text-transform: uppercase;
        font-weight: 600;
    }
    
}
.sliderImg {
    width: 90%;
    margin: 20px auto;
    border: 2px solid #b2b240;
    border-radius: 10px;
}