
.slideInfo {
    color: #fff;
    h2 {
        text-transform: uppercase;
        font-weight: 600;
    }
    
}
.sliderImg {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
     h5 {
         color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        font-weight: 800;
    }
}
.activeImg {
    border: 2px solid yellow;
    border-radius: 17px;
}