.single-user {
    width: 100%;
    border: 1px ridge green;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.photo img {
    width:  100%;
    height: 100%;
    display: block;
}

.users-area {
    width: 100%;
    display: flex;
}

.user-info {
    width: 70%;
    /* border: 1px solid green; */
    margin-right: 5%;
}

.cart-info {
    width: 25%;
    border-left: 1px solid green;
}
.photo {
    margin-right: 20px;
}

.info h2 {
    color: green;
}

.info button {
    height: 30px;
    font-size: 16px;
    margin-right: 20px;
    color: whitesmoke;
    background: darkblue;
    border-radius: 5px;
}