header {
    position: relative;
}

header::before {
    position: absolute;
    width: 100%;
    background: #FBD062;
    height: 118%;
    left: 0;
    top: -60px;
    content: '';
    transform: skewY(-4deg);
    z-index: -1;
}