footer.footer_area {
    background: #000;
    color: #fff;
    img{
        width: 200px;
    }
    ul li {
        font-size: 20px;
        margin: 10px 0;
        list-style: none;
    }
    img {
        width: 100%;
    }
}