.container{
  width: 90%;
  margin: 0 auto;
}

.view-info {
  display: flex;
  justify-content: space-around;
}

.users {
  width: 78%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
}

.cart-info {
  width: 20%;
  text-align: center;
}