.notFound-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 500px;
    h1 {
        text-shadow: 2px 2px 5px #00edff;
    }
    p {
        font-size: 20px;
        color: powderblue;
    }
}

