article.content {
    height: 100%;
    display: flex;
    align-items: center;
    h1 {
    font-size: 40px;
    padding: 10px 0;
     .btn {
        width: 200px;
        font-size: 30px;
        margin: 30px 0;
    }
    h1.price {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
     .btn {
        width: 100px;
    }
}
.btn-increment {
    margin-left: 30px;
    font-weight: 400;
    border: 1px solid #ddd;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
}

span.btn-increment button {
    width: 20px;
    border: none;
    margin: 0 10px;
}

span.btn-increment span {
    font-size: 23px;
}
.images_content {
    margin: 41px 0;
}
.images_content img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    margin: 10px;
}
}
.show_img img {
    width: 100%;
}

