

.added_cart_area {

    .add_all_cart {
        
        img {
        width: 100px;
        height: 100%;
    }
        .single_cart {

            display: flex;
            height: 100px;
            justify-content: start;
            align-items: center;
            background: #e1e1e1;
            padding: 5px;
            margin: 10px 0;
            border-radius: 5px;
            color: #000;
        }
        .added_cart_area button {
            width: 100%;
            margin: 20px 0;
        }
        
        .cart_image {
            width: 25%;
        }
        
        .cart_title {
            width: 55%;
            padding-left: 10px;
             h4 {
                color: red;
                font-size: 30px;
            }
            
            small {
                color: #858585;
            }
            
             p {
                font-weight: 700;
                font-size: 15px;
            }
        }
        
        .cart_quantity {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center; 
            button {
                border: none;
                font-size: 30px;
            }
            strong {
                background: #fff;
                font-size: 28px;
                padding: 0 5px;
                border-radius: 5px;
            }
        }
        
        
        
    }
    button {
        width: 100%;
        margin: 20px 0;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
    }
.d-cart {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
}
